<!DOCTYPE html>
<html lang="en">
	<head>
		<title>SCP:SL server checker</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
  		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  		<!-- script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script -->
  		<script src="{{ url_for('static', filename='app.js') }}"></script>
 	</head>

 	<body class="container" bgcolor="#E6E6FA" >
 		<div class = "card-panel" ng-app="SCPApp">
 			<h1>/v/ SCP:SL servers</h1>
			<table class="highlight" id="scp_datatable"  ng-controller="ServerListController">
				<thead>
			 		<tr>
				    	<td>Address</td>
				    	<td>Players</td>
				    	<td>Info</td>
				    	<td>Pastebin</td>
				    	<td>Game version</td>
				    	<td>SM version</td>
				    	<td>Last update</td>
				  	</tr>
				</thead>
				{% raw %}
				<tbody>
				  	<tr ng-repeat="server in servers | orderBy : 'player_count':true">
				   		<td>{{server.ip}}:{{server.port}}</td>
				   		<td>{{server.player_count}}/{{server.player_total}}</td>
				   		<td>{{server.info}}</td>
				   		<td><a href="https://pastebin.com/raw/{{server.pastebin_url}}/">{{server.pastebin_url}}</a></td>
				   		<td>{{server.game_version}}</td>
				   		<td>{{server.servermod_version}}</td>
				   		<td>{{server.date_updated}} seconds ago</td>
				 	</tr>
				</tbody>
				{% endraw %}
			</table>
		</div>
	</body>
</html>